<div class="container mt-3">
  <div class="row">
    <div class="col-12">
      <h1>All our Flats</h1>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <p>All <%= @flats.length  %> flats</p>
    </div>
  </div>
  <div class="row">
    <% @flats.each do |flat| %>
    <div class="col-4">
      <div class="flat-card">
        <div class="flat-card-content">
          <div class="flat-card-title">
            <h4><%= flat.name %></h4>
          </div>
          <p><%= flat.adress %></p>
          <div class="flex">
            <div class="flex">
              <i class="fa-solid fa-user-group"></i>
              <span><%= flat.number_of_guests %></span>
            </div>
            <div class="flex">
              <i class="fa-solid fa-euro-sign"></i>
              <span><%= flat.price_per_night %></span>
            </div>
          </div>
        </div>
        <div class="flat-card-actions">
          <%= link_to "More Infos", flat_path(flat.id), class:"btn btn-primary" %>
          <a class="btn btn-warning" href="">Edit</a>
          <a class="btn btn-danger" href="">Delete</a>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>
